body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
#calculator{
  border: none;
  border-radius: 10px;
  height: 400px;
  width: 200px;
  background: linear-gradient(90deg, hsla(205, 46%, 10%, 1) 0%, hsla(191, 28%, 23%, 1) 50%, hsla(207, 41%, 27%, 1) 100%);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
#display{
  margin:10px;
  width: 85%;
  font-size: 25px;
}
.button_container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 10px;
  padding: 10px
}
.button{
  height: 45px;
  width: 45px;
  margin: 4px;
  border:none;
  border-radius: 50px;
  background-color:rgb(231, 253, 255);
  font-size: large;
  font-weight: 600;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:rgb(255, 0, 136);
  transition: transform 0.2s ease-in-out;
}
.button:hover{
  transform: scale(1.10);
  background-color:rgb(255, 0, 136);
  color:rgb(234, 245, 252);
}